<header>
    
    <img src="/darklogo.png" alt="car service app logo" height="50px">
    <nav> 
        <a href="/services">Services</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
        <a href="/booknow">BOOK NOW</a>
        <a href="login/signup" class="cta-link">Signup</a>
    </nav>
</header>