<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("_header.ejs") %>
    <main>
        <h1>Book Our Services Today</h1>
        <form action="/" method="post">
            <div class="group">
                <label for=""></label>
                <select name="" id="">
                    <option value="">Select a Package</option>
                </select>
            </div>

            <div class="group">
                <input type="submit" value="Complete Booking">
            </div>
        </form>
    </main>
    <%- include("_footer.ejs") %>
</body>
</html>