<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("_header.ejs") %>
    <main>
        <h1>Our Services</h1>
    </main>
    <%- include("_footer.ejs") %>
</body>
</html>